<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inventory Application</title>
  </head>
  <body>
    <!-- page content -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/shipments/orders">View Past Shipments</a></li>
        <li><a href="/shipments">Create Shipments</a></li>
      </ul>
    </nav>
    <div id="body-container">
    {{{body}}}
    </div>
  </body>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script src="{{{script}}}"></script>

</html>