<h1>Shopify Backend Intern Challenge Fall 2022</h1>
<h2>Author: Frank Appolonia</h2>

<p>Hello and welcome to my web app! This app features a basic inventory management system using JavaScript,
    Node.JS, Express.JS, and MongoDB Atlas. The inventory has the capibility to add new items, update or delete
    existing items, and view a list of the current inventory available. </p>

<p>
    In addition, the app features a shipments system. You can add existing inventory to a new shipment, and 
    "submit" the shipment. Once a shipment is succsesfully submitted, the existing inventory is accordingly 
    updated to account for items being "shipped" out. As a bonus, you can view a list of all previous
    shipments made, as well as specfic details about the shipment.
</p>

<p>Optionally, the command "npm seed" in the Replit terminal to seed the database with initial data. Note that it will
    wipe the database before seeding!
</p>