
<h1>Product ID: {{{itemData._id}}}</h1>
<section id="product-container">
    <dl>
        <dt>Name: </dt>
        <dd id="name">{{{itemData.name}}}</dd>
        <dt>Quantity: </dt>
        <dd id="quantity">{{{itemData.quantity}}}</dd>
        <dt>Price Per Item: </dt>
        <dd id="price">{{{itemData.price}}}</dd>
    </dl>
    <button id="editBt" type="submit">Update Item</button>
    <button id="deleteBt" type="submit">Delete Item</button>
</section>
<div id="error"></div>