
<h1>Product ID: {{{itemData._id}}}</h1>
<section id="product-container">
    <dl>
        <dt>Name: </dt>
        <dd id="name">{{{itemData.name}}}</dd>
        <dt>Quantity: </dt>
        <dd id="quantity">{{{itemData.quantity}}}</dd>
        <dt>Price Per Item: </dt>
        <dd id="price">{{{itemData.price}}}</dd>
    </dl>
  
</section>
<div id="error"></div>